# pip install -r requirements.txt

numpy  # нужна последняя версия
requests==2.23.0  # нужна конкретная версия
requests>=2.20.0,<2.23.0  # подойдет любая версия между 2.20.0 и 2.23.0
numpy!=1.0  # подойдет любая версия, кроме 1.0
